/*****************************************************************************\
|   Author  : Zorbas Dimitrios  1115 2007 00078                             **|
|   contact : zorbash@hotmail.com                                           **|
|   Project: YouCompare Site - Software Engineering Course Spring 2011      **|
|   Description: css for the bug report page elements  		            **|
|                                                                           **|   
\*****************************************************************************/


#bugReport{
    	
	margin-top: 10%;
	margin-left: 20%;	 
    
}
	#bugReport ul{
		width: 50%;
	}
	#bugReport textarea{
		width: 100%;
		min-width: 50%;
		max-width: 100%;
		height: 200px;
		min-height: 100px;
		max-height: 200px;

	}
	#bugReport button{
		/*position: relative;*/
		right: 0;
	}
