
/*****************************************************************************\
|   Author  : Zorbas Dimitrios  1115 2007 00078                             **|
|   contact : zorbash@hotmail.com                                           **|
|   Project: YouCompare Site - Software Engineering Course Spring 2011      **|
|   Description: Gui Part for page compare  (css)                           **|
|                                                                           **|   
\*****************************************************************************/





#compare{
	background-color: #EAEAEA;
	border-radius: 12px 12px 12px 12px;
}

	button.proceed-to-comparison {
		background: url("../images/button_black.jpg") repeat-x scroll 0 0 transparent;
    		border: 0 none;
    		border-radius: 8px 8px 8px 8px;
    		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    		color: white;
    		display: block;
    		float: left;
    		font-size: 90%;
   		 margin-right: 20px;
    		padding: 5px 10px;
    		text-decoration: none;
	}
	button.proceed-to-comparison:hover {
		border-radius: 12px 12px 12px 12px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
		
		cursor: pointer;
	}
	button.proceed-to-comparison:active {
		
		margin-top: 2px;
	}


	#compare div#set_weights {
		/*** BOX MODEL ***/
		margin-top: 10px;
	}

	#compare h1.tabHeader {
		
		background-color: #EAEAEA;
		background-image: -moz-linear-gradient(center bottom , #C9CECF 0%, #FFFFFF 80%);
		background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#C9CECF));
		background-image: -ms-gradient(center bottom , #C9CECF 0%, #FFFFFF 80%);
		background-image: -o-linear-gradient(top,#FFFFFF,#C9CECF);
		border: 1px solid #FFFFFF;
		padding: 2px 0 2px 5px;
		border-radius: 8px 8px 8px 8px;
		box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.25);
		
	}
	#compare h1.tabHeader:hover {
			background-color: #4C5355;
			background-image: -moz-linear-gradient(center bottom , #FFFFFF  0%, #C9CECF  80%);
			background: -webkit-gradient(linear, left top, left bottom, from(#C9CECF), to(#FFFFFF));
			background-image: -ms-gradient(center bottom , #FFFFFF  0%, #C9CECF  80%);
			background-image: -o-linear-gradient(top,#C9CECF,#FFFFFF);

			cursor: pointer;

			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
	}

	#compare div.compare-inner {
		padding: 30px 10px 10px 30px;
	}

	#compare div.comparison-selection-inner , #compare div.compare-type-selection-inner{
		padding: 10px 2px 10px 20px;
	}

	#compare div.comparison-button-panel {
		margin-top: 20px;
	
	}

	
	/*** SET WEIGHTS ***/
	#compare div#set_weights div.distinct-attribute , div.basic-info {
		background-color: #EAEAEA;
		background-image: -moz-linear-gradient(center bottom , #C9CECF 0%, #EAEAEA 80%);
		background-image: linear-gradient(center bottom , #C9CECF 0%, #EAEAEA 80%);
		background: -webkit-gradient(linear, left top, left bottom, from(#C9CECF), to(#EAEAEA));
		background-image: -ms-gradient(center bottom , #C9CECF 0%, #EAEAEA 80%);
		background-image: -o-linear-gradient(top,#C9CECF,#EAEAEA);
	}


	#compare div#set_weights div.basic-info {
		
		margin-top: 20px;
		
	}

	#compare select#category_select {


	}
	
	#compare div#set_weights div.basic-info {
		width: 1000px;
		margin-left: 10px;
		border: 1px solid #FFFFFF;
		border-radius: 8px 8px 8px 8px;
	}
	
	#compare div.countable-attributes-wrapper {
		width: 1000px;
		margin-top: 10px;
		margin-left: 10px;
		border: 1px solid #FFFFFF;
		border-radius: 8px 8px 8px 8px;
		background-color: #EAEAEA;
		background-image: -moz-linear-gradient(center bottom , #C9CECF 0%, #EAEAEA 80%);
		background-image: linear-gradient(center bottom , #C9CECF 0%, #EAEAEA 80%);
		background: -webkit-gradient(linear, left top, left bottom, from(#C9CECF), to(#EAEAEA));
		background-image: -ms-gradient(center bottom , #C9CECF 0%, #EAEAEA 80%);
		background-image: -o-linear-gradient(top,#C9CECF,#EAEAEA);
	}
	#compare div#set_weights table.attribute_weights {
		/*** LAYOUT ***/
		
		/*** BOX MODEL ***/
		border: 1px solid #FFFFFF;
		width: 100%;
		border-radius: 8px 8px 8px 8px;

	}
		#compare div#set_weights table.attribute_weights th {
			border: 1px dashed #4C5355;
			vertical-align: middle;
			height: 30px;
		}
		
		#compare div#set_weights table.attribute_weights td {
			text-align: center;
		}

		
		html .ui-slider {
  			display: inline-block;
  			margin-left: 10px;
  			width: 100px;
		}
		
		div#set_weights input.slider_indicator, div#set_weights input.slider-range-indicator-min, div#set_weights input.slider-range-indicator-max , div#set_weights input.specific-value-indicator {
			background-image: url("../images/content_texture.png");
			width: 45px;
			margin-left: 24px;
			border-radius: 6px 15px 3px 9px;
			box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.35);

		}

	#compare div#set_weights div.distinct-attributes {
		margin-top: 10px;

	}


	#compare div.distinct-attribute {
		display: inline-block;
		width: 500px;
		margin-left: 10px;
		border: 1px solid #FFFFFF;
		border-radius: 8px 8px 8px 8px;
		
	}
		#compare div.distinct-attribute table.distinct_attribute_main_weight {
			width: 100%;

		}
		#compare div.distinct-attribute table.distinct_attribute_main_weight td.main_title{
			width: 145px;

		} 
		#compare div.distinct-attribute table.distinct_attribute_main_weight td.slider-td{
			width: 170px;

		}
		#compare div.distinct-attribute table.distinct_attribute_weights {
			width: 100%;

		}
		#compare div.distinct-attribute table.distinct_attribute_weights th {
			border: 1px dashed #4C5355;
			vertical-align: middle;
			height: 30px;
			padding: 5px;
		}
		#compare div.distinct-attribute table.distinct_attribute_weights td {
			text-align: center;
		}






