/*******************************
            Software Engineering 2011 - YouCompare Website
            Code developed by Anastasios Antoniadis
            May-June 2011
            *******************************/

hr { 
        color: black;
        width: 50%;
    
}

#register {
    
        font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        font-size: 90%;
        display: block;	
        height: 100%;
        text-align: left;
        margin-left: 30%;
}

#register label {
    
        display: inline-block;
        min-width: 200px;
        
}

#register input {
    
        padding: 0;
}

#register div {

        display: inline-block;
        min-width: 200px;
    
}

#register input:focus {  
    
        border: 2px solid #EF4F7A; 
}    

#register img {
    
        display: inline-block;
        width: 24px;
        height: 24px;
        position: relative;
        vertical-align: bottom;
     
}

#captchaTable td {
    
        width: 600px;
        text-align: center;
    
}

#mainContainer button:enabled {
    
        border-radius: 20px;
        background-color: #00cc33;
        color: white;
        border-width:0;
        background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.75, rgb(83,201,24)), color-stop(0.29, rgb(34,122,72)) );
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
}

#mainContainer .registerButtonEnabled:hover {
    
        border-radius: 20px;
        background-color: #00cc33;
        color: black;
        border-width:0;
        background-image: -webkit-gradient( linear, left bottom,left top, color-stop(0.75, rgb(116,194,0)), color-stop(0.2, rgb(151,255,15)));
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
}

button:disabled {
    
        border-radius: 20px;
        border-width: 0;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
        border: 2px ButtonFace;
        color: GrayText;
        cursor: no-drop;
}

#mainContainer :link {
    
        color: blue;
        font-weight: bold;
}

#mainContainer :visited {
    
        color: blue;
}

#register_panel {
    
        display: block;
        text-shadow: black 1px -1px 0.5;
        margin-top: 40px;
        width: 80% ;
        min-width: 1000px;
        background-color: #EAEAEA;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -o-border-radius: 8px;
        border: 2px solid #FCFCFC;
        box-shadow:1px 1px 10px #000000;
}