<div id="footer">
	<span>© 2011 littleEmerald Ltd. All rights reserved. | Terms of Use and Privacy Policy | Updated May 27, 2011</span>
	<ul>
		<li><a class="facebookBtn" href="http://www.facebook.com/share.php?u=http://www.ebeggar.org/youcompare/index.php" title="post youcompare on facebook">&nbsp;</a></li>
		<li><a class="twitterBtn" href="http://twitter.com/home?status=Read%20http://www.ebeggar.org/youcompare/index.php" title="post youcompare on twitter">&nbsp;</a></li>
		<li><a class="deliciousBtn" href="http://delicious.com/post?url=http://www.ebeggar.org/youcompare/index.php" title="bookmark youcompare on delicious">&nbsp;</a></li>
	</ul>
	<br />
	<hr />
	<!-- <table>
		<tr>
			<td><a href="./privacy_policy.php" title="Privacy policy of the page">Privacy policy</a></td>
                        <td><a href="./about.php" title="about this page">About</a></td>
                        <td><a href="./community.php" title="Meet the community of YouCompare!">Community</a></td>
                </tr>
                <tr>
                	<td><a href="./disclaimer.php" title="Disclaimer page">Disclaimer</a></td>
                        <td><a href="./faq.php" title="frequently asked questions concerning YouCompare!">F.A.Q</a></td>
                        <td><a href="./news.php" title="new and updates of YouCompare!">News</a></td>
                </tr>
                <tr>
                        <td></td>
                        <td><a href="./introduction.php" title="Introduction to the main features of YouCompare!">Introduction</a></td>
                        <td><a href="./contact.php" title="Contact YouCompare!">Contact</a></td>
                </tr>
                <tr>
                        <td></td>
                        <td><a href="./faq.php" title="Get help">Help</a></td>
			<td></td>
                </tr>
        </table>
	<a href="./bug_report.php" title="click to report bug"><img src="images/bug.png" alt="bug_report_image"></a>-->
</div>
