<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="images/favicon.png">
	<!-- including all .js script here -->
	

	
	<script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAXd--lQV4PTZa15vSS1WJwhSk7ylEV62EKrGciXTS5v_3b7qr3BRL5VFoZFzv6fGKFnp_c-LkXsI_6g"></script>
	<script>
		google.load("webfont", "1.0.19");
		google.load("jquery", "1");
	</script>  
   
	<!-- the following script loads up some extra fonts -->
	<script type="text/javascript">
		WebFont.load({
             		google: {
                     		families: [ 'Ubuntu', 'Cantarell', 'Just Another Hand' ,'Lobster' ,'Lekton' ,'Cabin']
    			}
     		});
	</script>
	<script>
		var category_id;
		var entities_to_compare = "";
		var errorArray = [];
	</script>
        <script type="text/javascript" src="js/jquery-ui-1.8.13.custom.min.js"></script>

        <script type="text/javascript" src="js/AutoSuggest.js"></script> 
        <script type="text/javascript" src="js/AutoSuggest_jquery.js"></script>
        <script type="text/javascript" src="js/xml_parser.js"></script>
        <script src="js/login.js"></script>
        <script type="text/javascript" src="js/userPanel.js"></script>
        <!-- importing all .css files here -->
        <link rel="stylesheet" type="text/css" href="css/resetStyle.css" />
        <link rel="stylesheet" type="text/css" href="css/genericStyleB.css" />
        <link type="text/css" href="css/overcast/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="css/tooltipStyle.css" />
        <link rel="stylesheet" type="text/css" href="css/searchStyle.css" />
        <link rel="stylesheet" href="./css/autosuggest.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/userPanelStyle.css" />      
